            /*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */
            /*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
            /* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
            
            html {
                /* color: #222; */
                font-size: 100%;
                line-height: 1.4;
                box-sizing: border-box;
            }
            
            .container {
                margin: 0 auto;
                width: 100%;
                font-size: 100%;
                line-height: 1.5;
            }
            
            .logos {
                display: flex;
            }
            
            .img2 {
                margin-top: 0.5rem;
                margin-left: 0.5rem;
            }
            
            .pas {
                position: relative;
                top: 2rem;
                right: 8rem;
                margin: 0;
                font-family: 'Source Sans Pro', sans-serif;
            }
            
            .toogle-icon span {
                width: 30px;
                height: 4px;
                border-radius: 100px;
                margin-top: 6px;
                background-color: blueviolet;
                display: block;
            }
            
            header {
                padding: 2%;
            }
            
            main {
                /* background-color: #2d2d2d; */
            }
            /* .menu-links {
    line-height: 40px;
} */
            
            .menu-links {
                display: block;
            }
            
            header nav {
                max-width: 0;
                overflow: hidden;
                transition: max-height .7s ease-in-out;
                display: flex;
                justify-content: center;
            }
            
            .menu-links img {
                position: relative;
                bottom: 2rem;
                left: 2rem;
            }
            
            .and {
                font-size: 2rem;
                font-family: 'Source Sans Pro', sans-serif;
                position: relative;
                bottom: 21rem;
            }
            /*     
    .barner {
        background: url(../img/banner.png);
        background-size: cover;
        padding-top: 45rem;
    } */
            
            .barner {
                background-image: url(../img/banner.png);
                background-repeat: no-repeat;
                background-position: center center;
                background-size: cover;
                color: #fff;
                padding: 15rem 15rem;
            }
            
            @media only screen and (min-width: 1100px) {
                .barner {
                    background-image: url(../img/banner.png);
                    padding: 4rem 1rem 2rem 1rem;
                }
            }
            
            h1 {
                font-size: 4rem;
                font-family: 'Source Sans Pro', sans-serif;
                color: #fff;
                text-align: center;
            }
            
            .h1p {
                font-size: 4rem;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bolder;
                color: #fff;
                margin-bottom: 16rem;
            }
            
            .h1p {
                position: relative;
                bottom: 5rem;
            }
            
            .first,
            .second {
                /* background-color: #ff7f50; */
                color: #fff;
                border: 0.2rem solid #ff4500;
                height: 15.0rem;
                /* Set only for demonstration purposes.*/
                text-align: center;
                padding: 1rem;
                margin-bottom: 1rem;
            }
            
            .irc {
                background: url(../img/Map.png);
                height: 20rem;
                width: 50rem;
                background-repeat: no-repeat;
                margin-top: 4rem;
            }
            
            .ppl {
                /* background-color: #ff4500; */
                display: flex;
                justify-content: center;
                /* margin-right: 7rem; */
            }
            
            .ira {
                padding-left: 25rem;
                background: url(../img/Map.png);
                height: 15rem;
                background-size: cover;
            }
            
            .hara {
                font-size: 2.6rem;
                font-family: 'Source Sans Pro', sans-serif;
                color: #fff;
            }
            
            h2 {
                font-family: 'Source Sans Pro', sans-serif;
                color: #030303;
                font-size: 2.7rem;
                font-weight: 400;
                margin-left: 2rem;
            }
            
            h3 {
                font-family: 'Source Sans Pro', sans-serif;
                color: #fff;
                font-size: 2.6rem;
                font-weight: 100;
            }
            
            h4 {
                text-align: center;
                font-size: 3rem;
                position: relative;
                top: 16rem;
                font-family: 'Source Sans Pro', sans-serif;
                color: #fff;
            }
            
            h5 {
                font-family: 'Source Sans Pro', sans-serif;
                color: rgb(58, 55, 55);
                font-size: 3rem;
                font-weight: 100;
            }
            
            h6 {
                color: #7b7b7b;
                font-size: 2rem;
                font-family: 'Source Sans Pro', sans-serif;
            }
            
            .colorour {
                color: #fff;
            }
            
            .ppl {
                color: #7b7b7b;
                font-size: 1rem;
                font-family: 'Source Sans Pro', sans-serif;
                display: flex;
                justify-content: center;
            }
            
            .ppl img {
                /* padding-left: 15rem; */
                height: 20rem;
                padding-right: 5rem;
            }
            
            .barns p {
                text-align: center;
                font-size: 2rem;
                position: relative;
                top: 11rem;
                padding-bottom: 2rem;
                font-family: 'Source Sans Pro', sans-serif;
                color: #fff;
            }
            
            .main-content p {
                position: relative;
                bottom: 4.5rem;
                font-family: 'Source Sans Pro', sans-serif;
                color: #7b7b7b;
                font-weight: bolder;
            }
            
            .ppl p {
                font-size: 1.5rem;
                position: relative;
                bottom: 4rem;
            }
            
            .purple {
                background: url(../img/Purple.png);
                width: 2.5rem;
                height: 2.7rem;
                position: relative;
                left: 18.1rem;
                bottom: 19rem;
            }
            
            .plus {
                background: url(../img/twitter\ icon.png);
                width: 2.5rem;
                height: 2.7rem;
                position: relative;
                left: 18.5rem;
                bottom: 20.8rem;
                background-repeat: no-repeat;
            }
            
            .par {
                background: url(../img/Purple.png);
                width: 2.5rem;
                height: 2.7rem;
            }
            
            .plu {
                background: url(../img/Plus.png);
                width: 2.5rem;
                height: 2.7rem;
                position: relative;
                left: 1rem;
                bottom: 2rem;
                background-repeat: no-repeat;
            }
            
            .bar {
                width: 100%;
                height: 3rem;
                background-color: #6017a3;
            }
            
            .ace1 {
                background-color: royalblue;
                width: 40%;
                height: 15rem;
                margin-left: 5rem;
            }
            
            .ace2 {
                background-color: rgb(179, 106, 11);
                width: 40%;
                height: 15rem;
                margin-right: 5rem;
            }
            
            footer {
                display: flex;
                justify-content: center;
            }
            
            .menu-links {
                padding-top: 2rem;
            }
            
            .sharp3 {
                font-family: 'Source Sans Pro', sans-serif;
                color: #fff;
                background-color: #2d2d2d;
            }
            
            .Any {
                font-size: 3rem;
                margin-top: 2rem;
            }
            
            .Anys {
                font-size: 3rem;
            }
            
            @media only screen and (min-width: 600px) {
                .toogle-icon {
                    display: none;
                    justify-content: flex-start;
                }
                .menu-links,
                header nav {
                    display: flex;
                    justify-content: space-between;
                    margin-top: 1rem;
                    margin-right: 4rem;
                }
                .menu-links li {
                    margin: 0 8.5rem;
                    margin-bottom: 2rem;
                }
                .menu-links li a {
                    text-decoration: none;
                    position: absolute;
                    color: #7b7b7b;
                }
                .logo {
                    display: flex;
                    justify-content: flex-start;
                    margin-left: 9rem;
                }
                .barner {
                    text-align: center;
                }
            }
            
            .sharp {
                display: flex;
                justify-content: space-between;
                font-family: 'Source Sans Pro', sans-serif;
                color: #7d7d7d;
                /* background-color: #2d2d2d; */
            }
            
            .main-content {
                text-align: center;
            }
            
            .div22 {
                background-color: aqua;
                width: 10px;
                height: 20rem;
            }
            
            .sharp1 {
                padding-top: 5rem;
                padding-bottom: 3rem;
                background-color: #2d2d2d;
            }
            
            .green {
                color: #6017a3;
                margin-left: 2rem;
                font-weight: bold;
            }
            
            .sharp p {
                margin-left: 2rem;
            }
            
            .div1 {
                margin-right: 6rem;
            }
            
            .clock {
                width: 3rem;
                height: 3rem;
                background: url(../img/Clock.png);
                background-size: cover;
                margin-left: 5rem;
            }
            
            .clock1 {
                width: 3rem;
                height: 3rem;
                background: url(../img/Cloud.png);
                background-size: cover;
                margin-left: 5rem;
            }
            
            .clock2 {
                width: 3rem;
                height: 3rem;
                background: url(../img/Box.png);
                background-size: cover;
                margin-left: 4rem;
            }
            
            .div2 {
                margin-left: 6rem;
            }
            
            .col-group {
                padding-left: 7rem;
                padding-right: 7rem;
                font-display: flex;
                justify-content: center;
            }
            
            .col-group img {
                width: 90%;
            }
            
            .barns {
                background: url(../img/background.png);
                background-size: cover;
                background-position: center center;
                width: 100%;
                /* height: 30rem; */
            }
            
            @media only screen and (min-width: 1100px) {
                .barns {
                    background: url(../img/background.png);
                    background-size: cover;
                    padding: 4rem 1rem 10rem 1rem;
                }
            }
            
            @media only screen and (min-width: 800px) {
                .col-group {
                    display: flex;
                    flex-wrap: wrap;
                }
                .col-group>div {
                    flex-basis: 50%;
                }
            }
            
            @media only screen and (min-width: 1100px) {
                .col-group>div {
                    flex-basis: 25%;
                }
            }
            
            @media only screen and (max-width: 768px) {
                footer>.ace1 {
                    flex-basis: 50%;
                }
                .div1 {
                    width: 100%;
                }
            }
            
            .logoss {
                display: flex;
            }
            
            .img2 {
                margin-top: 0.5rem;
                margin-left: 0.5rem;
            }
            
            .red {
                width: 40%;
                margin-left: 5rem;
                /* background-color: brown; */
                height: 20rem;
            }
            
            .blue {
                width: 40%;
                margin-right: 5rem;
                /* background-color: blue; */
                height: 20rem;
                color: #fff;
                font-family: 'Source Sans Pro', sans-serif;
            }
            
            footer {
                display: flex;
                justify-content: center;
            }
            
            .ha {
                display: flex;
            }
            
            .mir {
                font-size: 3rem;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bolder;
                position: relative;
                bottom: 4.5rem;
                left: 3.5rem;
                color: #fff;
            }
            
            .pas {
                font-family: 'Source Sans Pro', sans-serif;
                margin-left: 3.5rem;
                font-style: italic;
                color: #fff;
            }
            
            .red img {
                position: relative;
                top: 3.5rem;
            }
            
            .footerUl {
                display: flex;
                list-style-type: none;
                justify-content: space-evenly;
                margin-top: 4rem;
            }
            
            .footerUl1 {
                display: flex;
                list-style-type: none;
                justify-content: space-evenly;
            }
            
            .footerUl li a {
                text-decoration: none;
                font-family: 'Source Sans Pro', sans-serif;
                color: #fff;
            }
            
            .footerUl1 li a {
                text-decoration: none;
                font-family: 'Source Sans Pro', sans-serif;
                color: #fff;
            }
            
            .footerUl1 {
                display: flex;
                list-style-type: none;
                text-decoration: none;
            }
            
            footer {
                background-color: #2d2d2d;
            }
            
            .red .hey {
                position: relative;
                bottom: 7rem;
                font-family: 'Source Sans Pro', sans-serif;
                color: #fff;
                margin-left: 4rem;
                max-width: 80%;
            }
            
            .footerUl1 a:hover {
                border-bottom: 2px solid rebeccapurple;
                transition: ease-in-out;
            }
            
            .para {
                max-width: 80%;
                margin-left: 7rem;
            }